<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jb15613.themechooser.mtcpref">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- Automatically Initialize Initializer1A.Dependency at app startup -->
            <meta-data
                android:name="com.jb15613.themechooser.startup.ThemeChooserInitializer"
                android:value="androidx.startup" />

        </provider>
    </application>

</manifest>