<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.jb15613.themechooser.startup.PrefUtilsInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.jb15613.themechooser.startup.ColorUtilsInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.jb15613.themechooser.startup.AccentColorInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.jb15613.themechooser.startup.ThemeChooserUtilsInitializer"
                android:value="androidx.startup" />

        </provider>
    </application>

</manifest>